body,
html {
  margin: 0;
  background-color: #e7e3ed;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

nav {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 4rem;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
}
