* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e4e4e4;
  width: 100%;
  align-items: center;
}

.hero-section {
  position: relative;
  height: 100vh; /* Full-screen height */
  overflow: hidden;
  background-color: white;
}

.hero-section img {
  object-fit: cover;
  height: 100vh;
  background-color: white;
}

.hero-section .position-absolute {
  z-index: 2;
}

/* Ensure the left-side image scrolls only till the end of the right-side content */
.position-sticky {
  position: sticky;
  height: fit-content;
}

.overflow-auto {
  overflow-y: auto;
}

.icon-wrapper {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
